<mat-sidenav-container>
  <mat-sidenav #sidenav opened fixedInViewport class="w-1/5">
    <mat-toolbar color="accent">
      <span>Dashboard</span>
    </mat-toolbar>
    <mat-list>
      <mat-list-item>Películas</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ítem 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Ítem 3</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="flex">
    <app-index-container class="w-1/3 my-8 ml-8 mr-1"></app-index-container>
    <div class="w-2/3 my-8 mr-8 ml-1">Testeo 2</div>
  </mat-sidenav-content>
</mat-sidenav-container>
