<mat-toolbar color="primary" class="flex justify-between">
  <span>Películas</span>
  <a routerLink="/add" mat-raised-button color="accent">Agregar</a>
</mat-toolbar>
<div class="py-2">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Search</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-divider></mat-divider>
</div>
<div class="flex justify-between">
  <mat-form-field>
    <mat-label>Filtrar Por</mat-label>
    <mat-select></mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text">
  </mat-form-field>
</div>
<mat-divider></mat-divider>


<mat-nav-list >
  <mat-list-item *ngFor="let item of items | async" routerLink="/{{item.id}}">
    <mat-icon mat-list-icon [class.disponible]="item.disponible" [class.no-disponible]="!item.disponible">brightness_1</mat-icon>
    <h3 matLine>{{item.titulo}}</h3>
    <p matLine>Fecha de estreno: {{item.fecha_estreno | date}}</p>
  </mat-list-item>
</mat-nav-list>
