<mat-toolbar color="primary" class="flex justify-between">
  <span>Información</span>
  <button mat-raised-button (click)="togglePelicula()">Cambiar estado</button>
</mat-toolbar>
<div *ngIf="currentPelicula" class="pl-4 pt-2">
  <h2>{{currentPelicula.titulo}}</h2>
  <h3>Estreno {{currentPelicula.fecha_estreno | date}}</h3>
</div>

<mat-divider></mat-divider>

<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
  <h4 class="pl-4 pt-2">Editar</h4>
  <div class="pl-4 pt-2">
    <mat-form-field>
      <mat-label>Titulo</mat-label>
      <input matInput type="text" formControlName="titulo">
    </mat-form-field>
    <p class="font-light"*ngIf="editForm.controls.titulo.hasError('pattern')">
      El título solo puede incluir letras, números y espacios.
    </p>
    <p class="font-light" *ngIf="editForm.controls.titulo.hasError('minlength')">
      Escribe algo más largo (3 caracteres min.)
    </p>
    <p class="font-light" *ngIf="editForm.controls.titulo.hasError('maxlength')">
      Escribe algo más corto (25 caracteres max.)
    </p>
  </div>
  <div class="pl-4 pt-2">
    <mat-form-field>
      <mat-label>Fecha de estreno</mat-label>
      <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="fecha_estreno" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    type="button"
    (click)="openDialog()"
    class="ml-4 mt-2"
    [disabled]="!editForm.valid"
  >Actualizar</button>
</form>


